{% extends 'users/home.html' %}
{% load crispy_forms_tags %}
{% block body %}
<script>
    $(document).ready(function() {
    $('table.display').DataTable();
} );
$(document).ready(function() {
    $('#example').DataTable( {
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;

            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };

            // Total over all pages
            total = api
                .column( 4 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Total over this page
            pageTotal = api
                .column( 4, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Update footer
            $( api.column( 4 ).footer() ).html(
                'Rs.'+ total
            );

            total_time = api
                .column( 5 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Total over this page
            pageTotal_time = api
                .column( 5, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Update footer
            $( api.column( 5 ).footer() ).html(
                 total_time + 'Minutes'
            );

        }
    } );
} );




</script>

{% if user.profile.type == 'Chef' %}
<div class="container-fluid">

    <table id="" class=" cell-border hover display stripe "   style="width:100%">
        <thead>
            <th>Item name</th>
            <th>Quantity</th>
            <th>Remarks</th>
            <th>Table no</th>
            <th>Status</th>

        </thead>
        <tbody>
            {% for elements in object1 %}
            {% if elements.status == 'Not Done' %}
                <tr>
                    <td>
                        {{ elements.item.name }}
                    </td>

                    <td>
                        {{ elements.quantity }}
                    </td>
                    <td>
                        {{ elements.notes }}
                    </td>
                    <td>
                        {{ elements.user.username }}
                    </td>
                    <td>
                        <button type="button" class="text-white btn btn-success ">
                                <a style = "color:white" href="#">
                                    Accept Item
                                </a>
                            </button>
                    </td>


                </tr>
            {% endif %}
            {% endfor %}
        </tbody>

    </table>




{% else %}

<div class="container-fluid">

    <table id="" class="cell-border hover display"   style="width:100%">
        <thead>
            <th>Item name</th>
            <th>Item Type</th>
            <th>Quantity</th>
            <th>Remarks</th>
            <th>Price</th>
            <th>Time</th>
            <th> Delete Item </th>

        </thead>
        <tbody>
            {% for element in object %}
                <tr>
                    <td>
                        {{ element.item.name }}
                    </td>
                    <td>
                        {{ element.item.type }}
                    </td>
                    <td>
                        {{ element.quantity }}
                    </td>
                    <td>
                        {{ element.notes }}
                    </td>

                    <td>
                        {% widthratio  element.item.price 1 element.quantity  %}


                    </td>
                    <td>
                        {{ element.item.approx_time }}
                    </td>
                    <td>
                        <button type="button" class="text-white btn btn-danger ">
                                <a style = "color:white" href="{% url 'delete_cartitem' element.id  %}">
                                    Delete Item
                                </a>
                            </button>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
         <tfoot>
            <tr>
                <th colspan="5" style="text-align:right">Total:</th>

                <th  style="text-align:right" > Min </th>

                <th></th>

            </tr>
        </tfoot>
    </table>
</div>

<div>
    <a type="button" class="btn btn-primary"  href="{% url 'view_menu' %}"> BACK </a>

</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">

  <button class="btn btn-primary" type="button">Proceed to Pay</button>
</div>




{% endif %}


{% endblock %}